.suggested-keyword-tag-background-color .Polaris-Tag  {
    background-color: var(--p-color-bg-fill-magic-secondary) !important;
}

.ai-text-color {
    color: var(--p-color-text-magic-secondary) !important;  
}

.icon-color {
    color: var(--p-color-text-magic-secondary) !important;  
}


.blue-text {
    color: var(--p-color-text-link) !important;
}