.suggested-keyword-tag-background-color .Polaris-Tag  {
    background-color: #e4deff !important;
}

.ai-text-color {
    color: #5700d1 !important;  
}

.icon-color {
    color: #5700d1 !important;  
}